    .section-title {
        font-size: 1.625rem;
        font-weight: 700;
        margin-bottom: 1em;
    }
    .news-title, .news-text {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1.5em;
    }

    .news-text {
        a {
            color: blue;            
        }
    }



